
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Lato", sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.jumbotron {
    background-image: url('/img/jumbotron/annie-spratt-608001-unsplash.jpg');
    height: 650px;
    background-size: cover;
}
