// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* ======== GLOBAL ========= */
.bg-white {
    background-color: white;
}
.no-underline {
    text-decoration: none !important;
}
.white-link {
    color: white;
    transition-duration: 0.3s;
    &:hover {
        color: theme-color("primary");
        text-decoration: none;
    }
}
.grey-link {
    color: theme-color("secondary");
    transition-duration: 0.3s;
    &:hover {
        color: theme-color("primary");
        text-decoration: none;
    }
}
.primary-link {
    color: theme-color("primary");
    transition-duration: 0.3s;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

body {
    font-family: "Lato", sans-serif;
}
.text-white {
    color: white;
}
.vta-header {
    color: theme-color("primary");
}

/* ======== NAV ========= */
.specialization {
    background: black;
    color: white;
    padding: 3px 6px;
    border-radius: 10px;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
    font-weight: 900;
    color: rgba(0,0,0,0.75) !important;
}

/* ======== HOME & PROJECTS ========= */
.searchtext {
    font-size: 2em;
}
.card-title {
    font-weight: 900;
}
.jumbotron {
    height: 500px;
    background-size: cover;
}
.jumbotron-alumni {
    background-image: url('/img/jumbotron/alumni-search-banner.jpg');
}
.jumbotron-projects {
    background-image: url('/img/jumbotron/rawpixel-com-550994-unsplash.jpg');
}
.headline {
    font-size: 2.3em;
}
.subline {
    font-size: 1.7em;
}
.collaborator {
    // max-width: 80px;
}

/* ======== STUDENT DETAIL START ========= */
.question {
    font-size: 2em;
    color: theme-color("primary");
}
.answer {
    font-size: 1.4em;
}
.student-name {
    color: white;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 900;
}
.student-graduation-day {
    font-size: 1.4em;
    color: theme-color("secondary");
}
.student-quote {
    font-size: 2.4em;
    font-style: italic;
}
.student-banner {
    background-image: url("/img/jumbotron/student-detail-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}
.student-specialization {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 4px 10px;
    border-radius: 1rem;
}
.student-media {
    font-weight: 900;
    font-size: 1em;
}
.student-phone {
    font-size: 1.2em;
}
.back-arrow {
    top: 10px;
    left: 10px;
    position: absolute;
    color: white;
    cursor: pointer;
    &:hover {
        color: darken(white, 15%);
    }
}

/* ======== FOOTER START =========*/
.footer {
    background-color: black;
    color: white;
}

/* ======== LOGIN, REGISTER =========*/
.min-container {
    min-height: 68vh;
}
